  body{
    overflow-x: hidden;
    scroll-behavior : smooth;
  }
    *{
      margin: 0;
    }
    hr{
      margin: 0;
    }
    .accueil{
    background: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ),url('./telechargements/mountainun2.jpg');
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    }
    .software{
          background: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ),url('./telechargements/program.jpg');
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 1em;
    text-align: center;
    font-weight: bold;


    }

    .biographie{
    background: white;
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    border: groove;
    }
    #avatar{
      width: 300px;
      border-radius: 10px;
      float: left;
      margin-right: 20px;
    }
    #nom{
      font-size: 4em;
      padding-top: 0vw;
      border: groove;
    }
    #card-presentation{
      font-size: 2em;
      color: white;
      width: 40%;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
    .footer{
      padding: 2rem 1.5rem 3rem;
    }
    .container{
      padding-left: 10vw;
      padding-right: 10vw;
    }
    .present{
      padding-left: 0vw;
      padding-right: 0vw;
    }
    .intertitre{
      text-align: center;
      font-size: 2em;
      font-weight: bold;
    }
    #div-bio{
      padding-top: 
      border: groove;
    }
    .web:hover{
      color: white;
    }
    .logo-souris{
      width: 3%;
      height: 3%;
    }
    .position-souris{
      text-align: center;
    }
    .icon-competences{
      margin-left: calc(50% - 13px);
      padding-bottom: 40px;
    }
    .projet{
        padding-top : 7vw;
        height: 100%;
        width: 100%;
        overflow: hidden;

    }


.image:hover{
	opacity: 0.5;
	transform: scale(1.07); 
	transition: all 0.25s ease-out;
}
.projet img{
	opacity: 1;
	transform: scale(1); 
	transition: all 0.25s ease-out;
    
        
}
#larg{
    padding-left: 7vw;
    padding-right: 7vw;
}

    .section-titre{
        padding-top: 2.5vw;
        padding-bottom: 2vw
        
    
    }
.image{
	overflow: hidden;
	height: 100%;
	width:100%;
    border-radius: 8%
}
.titre_projet{
	transform: rotateZ(0.25turn) translateX(20px) translateY(-20px);
	transform-origin: top left;
	font-size: 3em;
	position: absolute;
	z-index: 2;
}



.card_projet:hover img{
	transform: scale(1.25); 
	transition: all 0.25s ease-out;
    opacity: 0.2;
}
.card_projet img{
    width: 100%;
    height: 100%;
	opacity: 1;
	transform: scale(1); 
	transition: all 0.25s ease-out;
    

}
.card_projet{
	height: 100%;
    width:100%;
    background-color: black;
    border-radius: 8%;
}
.overImg{
	overflow: hidden;
	height: 100%;
	width: 100%;
    border-radius: 8%;
}



    
    @media (max-width: 1000px){
      #avatar{
        width: 100px;
        border-radius: 10px;
        float: left;
        margin-right: 10px;
      }
      #nom{
        font-size: 1.5em;
      margin-bottom: 0; 
      }
      #card-presentation{
        color: white;
        width: 100%;
      }
    }

    .titre{
        padding-bottom: 130px;
      }
      #nom, #text_description{
        color: white;
      }
      .content{
        text-align: justify;
        text-justify: inter-word;
        line-height: 28px;
        position: sticky;
      }
      .titre-competences{
        font-weight: bold;
        text-align: center;
        font-size: 2em;
      }
      .colonne-competences{
        height: 300px;
      }
      .icon-competences{
        margin-left: calc(40% - 11px);
        padding-bottom: 40px;
        width: 30%;
        height: 30%;
        position: static;
      }
      .hero-image{
        width:100%;
        height: 350px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
      }
      .acceuilPortfolio{
        background: linear-gradient(
            rgba(0, 0, 0, 0.5), 
            rgba(0, 0, 0, 0.5)
          ),url('./images/bg-home-min.jpg');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .is-rounded{
        border-radius: 10px !important;
      }
      @media (max-width: 400px){
        .hero-image {
          height: 200px !important;
        }
        .icon-competences{
        margin-left: calc(40% - 11px);
        padding-bottom: 0px;
        width: 30%;
        height: 30%;
      }

      }

      @media (max-width: 740px){
        .hero-image {
          height: 400px ;
        }

      }
      @media (max-width : 1024px){
        .presentation{
          display: none;
        }
        .acceuilPortfolio{
          background: linear-gradient(
              rgba(128, 79, 144, 0.5), 
              rgba(128, 79, 144, 0.5)
            ),url();
        }
        .hero-image {
          width:100%;
          height: 350px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          position: relative;
        }
        .section-titre{
          padding-bottom: 30px;
        }

      }
      @media (max-width : 1524px){
        .presentation{
          position: absolute;
          top: 84vh;
          left: 60vw;
          width: 400px;
        }
        #text{
            font-size: 20px !important;
            width: 90%;
        }
      }

      .slick-slide {
        margin: 0px 20px;
      }

      .slick-slide img {
        width: 100%;
      }

      .slick-prev:before,
      .slick-next:before {
        color: black;
      }

      .slick-slide {
        transition: all ease-in-out .3s;
        opacity: .2;
      }
      
      .slick-active {
        opacity: .5;
      }

      .slick-current {
        opacity: 1;
      }
      .titre-card{
        font-weight: bold;
      }
      .white{
        color: white !important;
      }
      #overlay {
          position: fixed;
          display: none;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: rgba(0,0,0,0.85);
          z-index: 20;
          cursor: pointer;
      }
      .is-4{
        cursor: pointer;
      }
      #text{
          position: absolute;
          top: 50%;
          left: 50%;
          font-size: 50px;
          color: white;
          width: 60%;
          transform: translate(-50%,-50%);
          -ms-transform: translate(-50%,-50%);
      }